body {
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    scroll-behavior: smooth !important;
}

header {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    

}

header h2 {
    padding-left: 100px;
    font-size: 30px;
}


.header-ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-right: 100px;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section{
    height: 100vh;
}

.formacao {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.formacao-bg {
    background-color: #181818;
}

.texto-branco {
    color: white;
}

.titulo-grande{
    font-size: 150px;
    text-transform: uppercase;
    color: #4e4e4e;
    text-align: center;
}

.titulo-break{
    word-break: break-all;
    max-width: 4.5ch;
}